SUPPORTED_PLATFORMS = iphoneos iphonesimulator
IPHONEOS_DEPLOYMENT_TARGET = 12.0

DEFINES_MODULE = NO
//MODULEMAP_FILE = $(SRCROOT)/$(PRODUCT_MODULE_NAME)/module.modulemap
//MODULEMAP_PRIVATE_FILE = $(SRCROOT)/$(PRODUCT_MODULE_NAME)/module.private.modulemap

CODE_SIGN_IDENTITY =


// Conditional include for local overrides
#include? "Local.xcconfig"
