// Framework.xcconfig

SUPPORTED_PLATFORMS = iphoneos iphonesimulator
IPHONEOS_DEPLOYMENT_TARGET = 12.0

DEFINES_MODULE = YES
//MODULEMAP_FILE = $(SRCROOT)/$(PRODUCT_MODULE_NAME)/module.modulemap
//MODULEMAP_PRIVATE_FILE = $(SRCROOT)/$(PRODUCT_MODULE_NAME)/module.private.modulemap

CODE_SIGN_IDENTITY =

HEADER_SEARCH_PATHS =
USER_HEADER_SEARCH_PATHS =

// Conditional include for local overrides
#include? "Local.xcconfig"
