// UIKitApp-TestFlight.xcconfig

CODE_SIGN_IDENTITY = Apple Distribution
CODE_SIGN_STYLE = Manual
PROVISIONING_PROFILE_SPECIFIER = Distribution Polling Provisioning Profile

PRODUCT_BUNDLE_IDENTIFIER = com.polling.internal.ios.examples.UIKitApp
PRODUCT_NAME = UIKit Example for PollingSDK
INFOPLIST_KEY_CFBundleDisplayName = UIKitApp
